/*this is a bit messy */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Brea;
    src: url(fonts/Breamod.ttf);
}

body {
    background: url('test_background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1vh;

    font-family: 'Brea';
    color: white;
    font-size: 48px;
    text-align: center;
    padding: 2px 20px 5px 20px;

    background-color: rgba(50, 50, 45, .9);
    border: 2px solid gray;
}

#restart_button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4vh;

    font-family: 'Brea';
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 0px 20px 6px 20px;

    background-color: rgba(50, 50, 45, .9);
    border: 2px solid gray;

    display: none;

    animation: blinkingText .3s infinite;
}

#restart_button:hover {
    cursor: pointer;
}

@keyframes blinkingText {
    0% {
        color: #000;
        background-color: rgba(200, 200, 195, .8)
    }

    49% {
        color: #000;
        background-color: rgba(200, 200, 195, .8)
    }

    60% {
        color: #fff;
        background-color: rgba(50, 50, 45, .9);
    }

    99% {
        color: #fff;
        background-color: rgba(50, 50, 45, .9);
    }

    100% {
        color: #000;
        background-color: rgba(200, 200, 195, .8)
    }
}

canvas {
    /*    background: rgba(50, 50, 45, .9);
*/
    /*    border: solid 3px #222;
*/
}

#gameCanvas {
    position: absolute;
    width: 858px;
    height: 658px;

    /*    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
*/
    /*    background-color: "#111110";
*/
}

#container {
    position: absolute;
    top: 50%;
    width: 858px;
    height: 658px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#frame {
 	position: absolute;
    top: 50%;
    width: 858px;
    height: 658px;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url('sprites/frame.png')
}
*/


#start_game {
    position: absolute;
    left: 18%;
    width: 64%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;

    display: none;

    color: white;
    font-family: 'courier new';
}

#gameOver_box {
	position: absolute;

	text-align: center;
	width: 100%;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);

	display: none;

    color: white;
    font-family: 'courier new';
}

#score_box {
    position: absolute;
    top: 49px;
    left: 58px;

    color: white;
    font-family: Brea;
    font-size: 30px;
    letter-spacing: 3px;

    display: none;
}

#best_box {
    position: absolute;
    top: 49px;
    right: 58px;

    color: white;
    font-family: Brea;
    font-size: 30px;
    letter-spacing: 3px;

    display: none;
}


#prophecy_box {
    position: absolute;
    top: 62%;
    left: 6%;
    height: 30%;
    width: 88%;
    border: 2px solid grey;

    padding: 10px;

    display: none;

    color: white;
    font-family: 'courier new';

    background: rgb(5, 5, 5);
    background: linear-gradient(0deg, rgba(5, 5, 5, .95) 0%, rgba(98, 97, 93, .85) 100%);
    /*    background-color: rgba(0, 0, 0, .7)
*/
}