/*this is a bit messy */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Brea;
    src: url(fonts/Breamod.ttf);
}

body {
    background-color: black;
}


#title {
    position: absolute;
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;

    font-family: 'Brea';
    color: white;
    font-size: 72px;
    text-align: center;
}

canvas {
    background: black;
    border: solid 3px #222;
}

#gameCanvas {
    position: absolute;
    width: 800px;
    height: 600px;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    /*	background-color: black; */
}

#container {
    position: absolute;
    top: 100px;
    width: 800px;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
}

#score_box {
	position: absolute;
	top: 20px;
	left: 29px;

	color: white;
	font-family: Brea;
	font-size: 25px;
	letter-spacing: 3px;

	display: none;
}


#prophecy_box {
    position: absolute;
    top: 65%;
    left: 5%;
    height: 30%;
    width: 90%;
    border: 2px solid pink;

    display: none;

    color: white;
    font-family: 'courier new';
    background-color: rgba(0, 0, 0, .7)
}